<main>
  <!-- Map -->
  <section class="map-container container">
    <img id="map" src="assets/img/mapboxMocked.png" alt="map">
  </section>

  <!-- navigation -->
  <section class="navigation-container container g-glassmorphism">
    <div class="nav-content">
      <article>
        <fa-icon [icon]="['fas','bed']"/>
        <p>MEININGER Hotel</p>
        <span>Amsterdam Cen...</span>
      </article>

      <article>
        <fa-icon [icon]="['fas','bed']"/>
        <p>MEININGER Hotel</p>
        <span>Amsterdam Cen...</span>
      </article>
    </div>
  </section>

  <!-- Music -->
  <section class="music-container container g-glassmorphism">
    <div class="music-content">
      <div class="album-art">
        <img src="assets/img/JuiceWLRD.webp" alt="Outro">
      </div>
      <div class="song-info">
        <h3>Empty</h3>
        <p>Juice WRLD</p>
      </div>

      <div class="controls">
        <fa-icon [icon]="['fas','step-backward']"/>
        <fa-icon [icon]="['fas','play']"/>
        <fa-icon [icon]="['fas','step-forward']"/>
      </div>

      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>
  </section>
</main>
