<main>
  <!-- Map -->
  <div class="map-container container">
    <img id="map" src="assets/img/mapboxMocked.png" alt="map">
  </div>

  <!-- navigation -->
  <div class="navigation-container container">
    <div class="nav-content">
      <i class="fas fa-bed"></i> <!-- <-- Hotel icon -->
      <span>MEININGER Hotel</span>
      <span>Amsterdam Cen...</span>
    </div>
  </div>

  <!-- Music -->
  <div class="music-container container">
    <div class="music-content">
      <div class="album-art">
        <img src="assets/img/JuiceWLRD.webp" alt="Outro">
      </div>
      <div class="song-info">
        <h3>Outro</h3>
        <p>CARV</p>
      </div>
      <div class="controls">
        <i class="fas fa-step-backward"></i> <!-- <-- Previous -->
        <i class="fas fa-play"></i>          <!-- <-- Play/Pause -->
        <i class="fas fa-step-forward"></i>  <!-- <-- Next -->
      </div>
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>
  </div>
</main>
