@use "variables" as vars;

.call-voicemail-page {
  height: 100%;

  .voice-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > h1 {
      color: aliceblue;
      font-weight: 600;
    }

    > p {
      color: #ccc;
    }

  }

  .image-wrapper{
    display: flex;
    justify-content: space-evenly;

    .item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      > span {
        color: aliceblue;
        margin-top: 10px;
        font-weight: 400;

      }


      &.red{
        background-color: red;
      }

    }
  }
  ::ng-deep fa-icon{
    background-color: vars.$icon-color;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;


    &.phone-icon {
      background-color: red;
      color: white;
      transform: rotate(135deg);
      font-size: 24px;
    }

    &:hover {
      filter: brightness(0.7);
    }
  }

}


