<nav>
  <ul>
    <!-- Flag -->
    <li>
      <img [src]="inconList.flag" alt="Flag Icon" />
    </li>

    <!-- Home -->
    <li (click)="navigateToHome()">
      <img [src]="inconList.home" alt="Home Icon" />
    </li>

    <!-- Volume Up -->
    <li (click)="volumeService.changeVolume(true)">
      <img [src]="inconList.volumeUp" alt="Volume Up Icon" />
    </li>

    <!-- Volume Down -->
    <li (click)="volumeService.changeVolume(false)">
      <img [src]="inconList.volumeDown" alt="Volume Down Icon" />
    </li>

    <!-- Power Off -->
    <li (click)="currentState.switchRunningState()">
      <img [src]="inconList.powerOff" alt="Power Off Icon" />
    </li>
  </ul>
</nav>
