<nav>
  <ul>
    
    <!-- FLAG -->
    <li>
      <!--https://www.svgrepo.com/svg/509930/flag-->
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.6247 5.21914C11.0416 3.95267 9.18319 3.99214 7.85649 4.27145C7.04755 4.44175 6.22551 4.72012 5.50386 5.13176C5.19228 5.30981 5 5.64115 5 6.00001V20C5 20.5523 5.44772 21 6 21C6.55228 21 7 20.5523 7 20V14.6294C8.37617 14.0493 10.124 13.7799 11.3753 14.7809C12.9584 16.0473 14.8168 16.0079 16.1435 15.7286C17.1559 15.5154 17.9441 15.1521 18.2954 14.9747C18.6869 14.7771 19 14.4734 19 14V6.00001C19 5.64353 18.8102 5.31402 18.5019 5.13509C18.1938 4.95629 17.8144 4.95462 17.505 5.13114L17.5041 5.13162C16.0661 5.91734 14.0013 6.32045 12.6247 5.21914ZM7 6.62938V12.499C8.88136 11.8968 11.021 11.9362 12.6247 13.2191C13.5416 13.9527 14.6832 13.9922 15.7315 13.7715C16.2336 13.6657 16.6769 13.5068 17 13.3706V7.50105C16.739 7.5846 16.4511 7.6638 16.1435 7.72856C14.8168 8.00787 12.9584 8.04734 11.3753 6.78087C10.124 5.77986 8.37617 6.04932 7 6.62938Z"
            fill="#ffffff"
          ></path>
        </g>
      </svg>
    </li>

    <!-- HOME -->
    <li>
      <!-- https://www.svgrepo.com/svg/444914/apps-large-solid -->
      <svg
        viewBox="0 0 48 48"
        xmlns="http://www.w3.org/2000/svg"
        fill="#ffffff"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <title>apps-large-solid</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="invisible_box" data-name="invisible box">
              <rect width="48" height="48" fill="none"></rect>
            </g>
            <g id="Q3_icons" data-name="Q3 icons">
              <g>
                <path
                  d="M20,4H6A2,2,0,0,0,4,6V20a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V6A2,2,0,0,0,20,4Z"
                ></path>
                <path
                  d="M42,4H28a2,2,0,0,0-2,2V20a2,2,0,0,0,2,2H42a2,2,0,0,0,2-2V6A2,2,0,0,0,42,4Z"
                ></path>
                <path
                  d="M20,26H6a2,2,0,0,0-2,2V42a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V28A2,2,0,0,0,20,26Z"
                ></path>
                <path
                  d="M42,26H28a2,2,0,0,0-2,2V42a2,2,0,0,0,2,2H42a2,2,0,0,0,2-2V28A2,2,0,0,0,42,26Z"
                ></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </li>

    <!-- VOLUME UP -->
    <li>
      <!--https://www.svgrepo.com/svg/502910/volume-up-1-->
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M3 14V10C3 9.44772 3.44772 9 4 9H6.64922C6.87629 9 7.0966 8.92272 7.27391 8.78087L10.3753 6.29976C11.0301 5.77595 12 6.24212 12 7.08062V16.9194C12 17.7579 11.0301 18.2241 10.3753 17.7002L7.27391 15.2191C7.0966 15.0773 6.87629 15 6.64922 15H4C3.44772 15 3 14.5523 3 14Z"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M18.5 9.5V12M18.5 14.5V12M18.5 12H16M18.5 12H21"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
    </li>

    <!-- VOLUME DOWN -->
    <li>
      <!--https://www.svgrepo.com/svg/502902/volume-down-1?edit=true-->
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M3 14V10C3 9.44772 3.44772 9 4 9H6.64922C6.87629 9 7.0966 8.92272 7.27391 8.78087L10.3753 6.29976C11.0301 5.77595 12 6.24212 12 7.08062V16.9194C12 17.7579 11.0301 18.2241 10.3753 17.7002L7.27391 15.2191C7.0966 15.0773 6.87629 15 6.64922 15H4C3.44772 15 3 14.5523 3 14Z"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M16 12H18.5H21"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
    </li>

    <!-- POWER OFF -->
    <li>
      <!--https://www.svgrepo.com/svg/366450/shutdown-small?edit=true-->
      <svg
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        fill="#000000"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g
            style="
              fill: none;
              stroke: #ffffff;
              stroke-width: 12px;
              stroke-linecap: round;
              stroke-linejoin: round;
            "
          >
            <path d="m 50,10 0,35"></path>
            <path
              d="M 26,20 C -3,48 16,90 51,90 79,90 89,67 89,52 89,37 81,26 74,20"
            ></path>
          </g>
        </g>
      </svg>
    </li>
  </ul>
</nav>
