@use "variables" as vars;

ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  list-style: none;
  cursor: pointer;
  fa-icon ::ng-deep {
    color: white;
    font-size: 30px;

    &:hover {
      color: vars.$icon-color;
    }
  }
}



