<nav>
  <ul>
    <!-- Home -->
    <li (click)="navigateToHome()">
      <fa-icon [icon]="['fas','home']" title="Go Home"/>
    </li>

    <!-- Volume Up -->
    <li (click)="volumeService.changeVolume(true)">
      <fa-icon [icon]="['fas','volume-up']" title="Volume Up"/>
    </li>

    <!-- Volume Down -->
    <li (click)="volumeService.changeVolume(false)">
      <fa-icon [icon]="['fas','volume-down']" title="Volume Down"/>
    </li>

    <!-- Message -->
    <li>
      <a href="mailto:doplax.labs@gmail.com">
        <fa-icon [icon]="['fas','envelope']" title="Send me a message"/>
      </a>
    </li>

    <!-- Power Off -->
    <li (click)="currentState.switchRunningState()">
      <fa-icon [icon]="['fas','power-off']" title="Power Off"/>
    </li>
  </ul>
</nav>
