
.g-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: vars.$background-color;

  > .head-section {
    padding: 20px 20px 0 20px;

  }

  > .body-section {
    padding: 20px 20px 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
}

.g-glassmorphism {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(2, 2, 2, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}