//@use "variables" as vars;

//Basic Colors
$higlighted-blue: #64D2FF;
$basic-grey :#454545;
$background-color: #242424;

//Icons
$icon-color: #9C9C9C;
$icon-color-active: $higlighted-blue;


//Card Sizes
$card-border-radius: 20px;
$card-min-height: 85px;
$card-primary-text-size: 1.5rem;
$card-secondary-text-size: 1rem;

