@use "variables" as vars;

.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    height: 1080px;
    width: 1920px;
  }

  .nav {
    background-color: black;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
  }

  .display {
    position: relative;
    top: -13px;
    left: -17px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 650px;
    width: 1170px;
    background-color: vars.$background-color;
  }

  footer {
    position: absolute;
    color: white;
    z-index: 20;
    bottom: 115px;

    > p {
      font-weight: 400;
      font-size: 16px;

      > .doplax-link {
        color: vars.$highlighted-blue;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}







