<main class="main">
  <img src="../assets/img/carInterfaceBg.png" alt="background" />

  <div class="display">
    <!-- Nav Bar -->
    <app-side-bar class="nav" />

    <!-- Content -->
    <div class="content">
      <app-volume-box/>
      @if (isRunning) {
        <router-outlet/>
      } @else {
        <app-lock-screen/>
      }
    </div>
  </div>
  <footer>
    <p>
      This web was made by
      <a
        href="https://doplax.dev/"
        target="_blank"
        rel="noopener noreferrer"
        class="doplax-link"
      >Doplax.dev</a>
    </p>
  </footer>
</main>
