.main {
  background-image: url('../assets/img/carInterfaceBg.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;

}


.container {
  display: flex;
  flex-direction: row;
  top: 21.5%;
  left:18.8%;
  position: relative;
  background-color: red;
  height: 650px;
  width: 1170px;
}

.nav-container {
  background-color: black;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
}

.display-container{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  height: 100%;
  width: 100%;
}
