.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main img {
  position: absolute;
  height: 1080px;
  width: 1920px;

}

.container {
  position: relative;
  top: -13px;
  left: -17px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  overflow: hidden;

  background-color: red;
  height: 650px;
  width: 1170px;
}

.nav-container {
  background-color: black;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
}

.display-container{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  height: 100%;
  width: 100%;
}
