@use 'variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: vars.$background-color;
}

.messages-page {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;

  h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
  }
}