.container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
  gap: 0px; /* Espacio entre los iconos */
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container img {
  height: 100px;
  cursor: pointer;
}

.icon-name {
  background-color: rgba(
    60,
    60,
    60,
    0.7
  ); /* Color de fondo oscuro con opacidad */
  color: white; /* Color del texto */
  font-size: 20px; /* Tamaño de la fuente */
  font-weight: 500; /* Peso de la fuente */
  text-align: center; /* Alineación del texto */
  padding: 5px 10px; /* Espaciado interno para hacer que el label sea más grande */
  border-radius: 10px; /* Bordes redondeados */
  display: inline-block; /* Para ajustar el tamaño al contenido */
  margin-top: 5px; /* Espaciado superior (opcional) */
  cursor: pointer;
}

// TODO:  Unificar Curosr pointer de alguna manera
