<nav>
  <ul>
    <!-- Flag -->
    <li>
      <img [src]="iconList.top_bar_favorites_static" alt="Flag Icon" />
    </li>

    <!-- Home -->
    <li >
      <img [src]="iconList.top_bar_recents_static" alt="Home Icon" />
    </li>

    <!-- Volume Up -->
    <li >
      <img [src]="iconList.top_bar_contacts_static" alt="Volume Up Icon" />
    </li>

    <!-- Volume Down -->
    <li>
      <img [src]="iconList.top_bar_keypad_static" alt="Volume Down Icon" />
    </li>

    <!-- Power Off -->
    <li >
      <img [src]="iconList.top_bar_voicemail_static" alt="Power Off Icon" />
    </li>
  </ul>
</nav>
