@use "variables" as vars;

nav {
  padding: 20px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      cursor: pointer;
      list-style: none;

      img {
        height: 70px;
        //&:hover {
        //  background-color: vars.$higlighted-blue;
        //  border-radius: 10px;
        //}
      }
    }
  }
}


.active{
  > img{
    fill: red;
  }
}