<nav>
  <ul>
    <!-- Favorites -->
    <li routerLink="favorites">
      <img [src]="iconList.top_bar_favorites_static" alt="Favorites page" />
    </li>

    <!-- Recents -->
    <li routerLink="recents">
      <img [src]="iconList.top_bar_recents_static" alt="Recents Page" />
    </li>

    <!-- Contacts -->
    <li routerLink="contacts">
      <img [src]="iconList.top_bar_contacts_static" alt="Contacts Page" />
    </li>

    <!-- KayPad -->
    <li routerLink="keypad">
      <img [src]="iconList.top_bar_keypad_static" alt="KayPad Page" />
    </li>

    <!-- Power Off -->
    <li routerLink="power-off">
      <img [src]="iconList.top_bar_voicemail_static" alt="Voicemail Page" />
    </li>
  </ul>
</nav>
