:host {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
    font-weight: bold;
  }
}

.time {
  font-size: 80px;
}

.date {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}
