<div class="settings-page">
  <div class="settings-options">

    <!-- LANG CARD -->
    <div class="option">
      <div class="left-section">
        <div class="icon-container">
          <fa-icon [icon]="['fas', 'language']" class="option-icon"></fa-icon>
        </div>
        <span>Language</span>
      </div>

      <div class="right-section">
        <span>Eng</span>
        <!-- Toggle Switch -->
        <label class="switch">
          <input type="checkbox"
                [checked]="i18n.currentLang === 'es'"
                (change)="i18n.changeLenguage()"
          />
          <span class="slider"></span>
        </label>
        <span>Esp</span>
      </div>
    </div>

    <!-- LOCATION CARD -->
    <div class="option">
      <div class="left-section">
        <div class="icon-container">
          <fa-icon [icon]="['fas', 'location-dot']" class="option-icon"></fa-icon>
        </div>
        <span>Location</span>
      </div>

      <div class="right-section">
        <!-- TODO: Poner la localización en forma de ciudad -->
         
        <!--<span>Lat: {{ settingsService.latitude | number:'1.2-2'}} </span>
        <span>{{'  '}}</span>
        <span>Long: {{ settingsService.longitude | number:'1.2-2'}}</span>-->

        <!-- Toggle Switch -->
        <!--<label class="switch">
          <select [(ngModel)]="selectedProvince">
            <option value="">Select a province</option>
            @for (province of provinces; track $index) {
              <option [value]="province">{{ province }} </option>
            }
          </select>
        </label>-->
      </div>
    </div>

    <!-- ASPECTO CARD -->
    <div class="option">
      <div class="left-section">
        <div class="icon-container">
          <fa-icon [icon]="['fas', 'circle-half-stroke']" class="option-icon"></fa-icon>
        </div>
        <span>Aspecto</span>
      </div>

      <div class="right-section">
        <span>Light</span>
        <!-- Toggle Switch -->
        <label class="switch">
          <input type="checkbox"
          [checked]="settingsService.getLightMode() === true"
          (change)="settingsService.switchLightMode()"
          />
          <span class="slider"></span>
        </label>
        <span>Dark</span>
      </div>
    </div>

    <!-- ASPECTO CARD -->
    <div class="option">
      <div class="left-section">
        <div class="icon-container">
          <fa-icon [icon]="['fas', 'images']" class="option-icon"></fa-icon>
        </div>
        <span>Fondo de pantalla</span>
      </div>

      <div class="right-section">
        <fa-icon [icon]="['fas', 'chevron-right']" class="option-icon"></fa-icon>

      </div>
    </div>


  </div>
</div>