@use 'variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: vars.$background-color;
}


.settings-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;

  .settings-options{
    height: 50px;
    width: 100%;


    .option{
      background-color: vars.$basic-grey;

    }
  }
}